@font-face {
  font-family: "PaytoneOne";
  src: url("assets/font/PaytoneOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Molengo";
  src: url("assets/font/Molengo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Molengo", sans-serif;
  background: #f9f3e7;
  color: #5a4334;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PaytoneOne", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
